
.filter__container{
    padding: 20px 0 40px 0;
    display: flex;
    align-items: stretch;
}
.filter__search-wrap{
    display: flex;
    align-items: stretch;
    margin-right: 25px;
}
.filter__search-inpt{
    width: 400px;
    padding: 9px 10px;
    outline: none;
    border: 2px solid $grey;
    border-radius: $radius 0 0 $radius;
}
.filter__search-btn{
    padding: 0 12px;
    background-color: $grey;
    border-radius: 0 $radius $radius 0;
    color: $white;
    font-weight: bold;
}
.filter__search-btn svg{
    width: 22px;
    height: 22px;
}
.filter__select-wrap select{
   border-radius: $radius;
    padding: 9px 10px;
}
.filter__select-wrap select option{
   
}

.book__list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    @include _1170{
        grid-template-columns: repeat(3, 1fr);
    }
}
.book__item{
    padding: 20px;
    background-color: $grey-light;
    border-radius: $radius;
    box-shadow: -2px 2px 15px 0px rgba(0,0,0,0.43);
    -webkit-box-shadow: -2px 2px 15px 0px rgba(0,0,0,0.43);
    -moz-box-shadow: -2px 2px 15px 0px rgba(0,0,0,0.43);
    transition: transform 250ms linear;
}
.book__item:hover{
    transform: scale(1.02);
    transition: transform 250ms linear;
}
.book__item-img-wrap{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.book__item-info{
    color: $grey;
}
.book__item-controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}
.book__item-controls span{
    color: $grey;
    font-weight: bolder;
}