.header-section{
    background-color: $black;
    color: $hak-light;
}
.header-navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-container{
    display: flex;
    align-items: center;
}
.logo{
    display: inline-block;
    width: 60px;
    height: 60px;
    background-image: url('../images/logo2.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-right: 7px;
}
.logo-name{
    font-size: 27px;
}
.navigation-controls{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.cart-container svg{
    width: 50px;
    height: 50px;
}
.logout-btn{
    padding: 5px 7px;
    border-radius: $btn-radius;
    background-color: $blue;
    color: $white;
    transition: opacity 250ms linear;
}
.logout-btn:hover{
    opacity: 0.8;
    transition: opacity 250ms linear;
}
.user-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid $hak-light;
}
.user-img svg{
    width: 47px;
    height: 47px;
}
.user-name{
    font-size: 20px;
}